@charset "UTF-8";

:root{
    --cor1: #45D96F;
    --cor2: #02D13D;
    --cor3: #019E2D;
    --cor4: #015218;
}

/*
 azul
    --cor1: #4167D9;
    --cor2: #0034D1;
    --cor3: #00279E;
    --cor4: #001452;
*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: var(--cor1);

}h2{
    margin: 20px 10px 0px 10px;
}div{
    width: 100px;
    height: 100px;
    background-color: #015218;
    margin: 60px 2px;


    display: inline-block;
}

header{
    background-color: var(--cor4);
    color: white;
    margin-bottom: 20px;


    
    padding: 10px;
    min-height: 70px;
}

section{
    margin: auto ;
    padding: 10px;
    background-color: white;
    color: var(--cor4);

    min-height: 400px;
    min-width: 400px;
    max-width: 600px;

    border-radius: 10px;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.151);
}

footer{
    background-color: var(--cor4);
    color: white;
    margin-top: 107px;
    
}input{
    font-size: 1.2em ;
    width: 100px;
    border-radius: 5px;
    color: var(--cor4);
    border-color: var(--cor4);
}input:hover{
    box-shadow: 2px 4px 0px 0px ;
}input:active{
    background-color: var(--cor1);
    box-shadow: none;
}

#c1{background-color: var(--cor1);}
#c2{background-color: var(--cor2);}
#c3{background-color: var(--cor3);}
#c4{background-color: var(--cor4);}